body {
    position: relative;
    font-family:"Goudy Bookletter 1911", sans-serif;
    font-size: 20px;    
    background-color: #FFFFFF;
    margin: auto;

}

h1,
h2 {
    margin: auto;
    position: relative;
}

main {
    padding: 50px;
}

li {
    display: inline;
    padding: 0px 20px;
}

a{
    color: #FFFFFF;
}

header,
footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: #706c6b;
    position: fixed;
    margin: auto;

}

header {
    text-align: left;
    margin: auto;

}

footer {
    margin-top: 0px;
    bottom: 0;
    border-bottom: 0px;
    color: #FFFFFF;
    margin: auto;
}

img {
    display: block;
    height: 400px;
    margin: 0px auto;
}
section {
    margin-bottom: 20px;
    padding: 20px 50px 40px 20px;
    border-top: 10px solid #706C6B;
    background-color: #FFFFFF;
}

form {
    margin: 0 auto;
    width: 500px;
    padding: 5px;
    border: 5px solid #706C6B;
    border-radius: 20px;
}

label {
    display: inline-block;
    width: 100px;
}

input,
textarea {
    box-sizing: border-box;
    width: 300px;
    border: 2px solid #706C6B
}

textarea {
    vertical-align: top;
    height: 0px;
}

button {
    height: 25px;
    width: 120px;
    background-color: #706C6B;
    color: #FFFFFF
}

/* Class Selectors*/
.text-center {
    text-align: center;
    margin: auto;

}

.text-right {
    text-align: right;
}
@media screen and (max-width: 992px) {
    #whole-body .text-right text-center {
        width: 50%;
        margin: auto;
        text: 
    }
}
@media screen and (mad-width: 768px) {
    #whole-body {
        width: 100%;
    }
}